{% extends 'hr_layout/default.html' %}
{% block 'content' %}

<table border="1px solid black" width="100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for data in user %}
    <tr>
        <td>{{data.Name}}</td>
        <td>{{data.Email}}</td>
        <td>{{data.Phone}}</td>
        <td>{{data.Gender}}</td>
        <td>{{data.Role}}</td>
        <td><a href="/changeStatus/{{data.UserId}}">{{data.Status}}</a></td>
        <td>
            <button style="background-color: green; border: 5px;">
                <a href="/editUser/{{data.UserId}}/">Edit</a>
            </button>
            <button style="background-color: red; border-radius: 5px;">
                <a href="/deleteUser/{{data.UserId}}/">Delete</a>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}