<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/myhr" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/allEmployeeData" class="nav-link" aria-current="page">Manage User</a></li>
        <li class="nav-item"><a href="/editProfile/{{request.session.id}}" class="nav-link">Edit Profile</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
    </header>
  </div>
